### Infosys 722 - Iteration 4 BDAS (Steps 1-8)
### Submitted by: Sym Concepcion
### UPI: scon497, studentID: 829972794

In [1]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ubuntu/spark-3.2.1-bin-hadoop2.7/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/10/01 04:20:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/01 04:20:15 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [9]:
# Let's read in the data. Note that it's in the format of csv
df = spark.read.option("header", True).csv('dataset/Filipino Family Income and Expenditure.csv')

In [15]:
# df.show()
df.columns

['Total Household Income',
 'Region',
 'Total Food Expenditure',
 'Main Source of Income',
 'Agricultural Household indicator',
 'Bread and Cereals Expenditure',
 'Total Rice Expenditure',
 'Meat Expenditure',
 'Total Fish and  marine products Expenditure',
 'Fruit Expenditure',
 'Vegetables Expenditure',
 'Restaurant and hotels Expenditure',
 'Alcoholic Beverages Expenditure',
 'Tobacco Expenditure',
 'Clothing, Footwear and Other Wear Expenditure',
 'Housing and water Expenditure',
 'Imputed House Rental Value',
 'Medical Care Expenditure',
 'Transportation Expenditure',
 'Communication Expenditure',
 'Education Expenditure',
 'Miscellaneous Goods and Services Expenditure',
 'Special Occasions Expenditure',
 'Crop Farming and Gardening expenses',
 'Total Income from Entrepreneurial Acitivites',
 'Household Head Sex',
 'Household Head Age',
 'Household Head Marital Status',
 'Household Head Highest Grade Completed',
 'Household Head Job or Business Indicator',
 'Household Head Occupation',
 'Household Head Class of Worker',
 'Type of Household',
 'Total Number of Family members',
 'Members with age less than 5 year old',
 'Members with age 5 - 17 years old',
 'Total number of family members employed',
 'Type of Building/House',
 'Type of Roof',
 'Type of Walls',
 'House Floor Area',
 'House Age',
 'Number of bedrooms',
 'Tenure Status',
 'Toilet Facilities',
 'Electricity',
 'Main Source of Water Supply',
 'Number of Television',
 'Number of CD/VCD/DVD',
 'Number of Component/Stereo set',
 'Number of Refrigerator/Freezer',
 'Number of Washing Machine',
 'Number of Airconditioner',
 'Number of Car, Jeep, Van',
 'Number of Landline/wireless telephones',
 'Number of Cellular phone',
 'Number of Personal Computer',
 'Number of Stove with Oven/Gas Range',
 'Number of Motorized Banca',
 'Number of Motorcycle/Tricycle']

In [16]:
df.printSchema()

root
 |-- Total Household Income: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Total Food Expenditure: string (nullable = true)
 |-- Main Source of Income: string (nullable = true)
 |-- Agricultural Household indicator: string (nullable = true)
 |-- Bread and Cereals Expenditure: string (nullable = true)
 |-- Total Rice Expenditure: string (nullable = true)
 |-- Meat Expenditure: string (nullable = true)
 |-- Total Fish and  marine products Expenditure: string (nullable = true)
 |-- Fruit Expenditure: string (nullable = true)
 |-- Vegetables Expenditure: string (nullable = true)
 |-- Restaurant and hotels Expenditure: string (nullable = true)
 |-- Alcoholic Beverages Expenditure: string (nullable = true)
 |-- Tobacco Expenditure: string (nullable = true)
 |-- Clothing, Footwear and Other Wear Expenditure: string (nullable = true)
 |-- Housing and water Expenditure: string (nullable = true)
 |-- Imputed House Rental Value: string (nullable = true)
 |-- Medical Care Expenditure: string (nullable = true)
 |-- Transportation Expenditure: string (nullable = true)
 |-- Communication Expenditure: string (nullable = true)
 |-- Education Expenditure: string (nullable = true)
 |-- Miscellaneous Goods and Services Expenditure: string (nullable = true)
 |-- Special Occasions Expenditure: string (nullable = true)
 |-- Crop Farming and Gardening expenses: string (nullable = true)
 |-- Total Income from Entrepreneurial Acitivites: string (nullable = true)
 |-- Household Head Sex: string (nullable = true)
 |-- Household Head Age: string (nullable = true)
 |-- Household Head Marital Status: string (nullable = true)
 |-- Household Head Highest Grade Completed: string (nullable = true)
 |-- Household Head Job or Business Indicator: string (nullable = true)
 |-- Household Head Occupation: string (nullable = true)
 |-- Household Head Class of Worker: string (nullable = true)
 |-- Type of Household: string (nullable = true)
 |-- Total Number of Family members: string (nullable = true)
 |-- Members with age less than 5 year old: string (nullable = true)
 |-- Members with age 5 - 17 years old: string (nullable = true)
 |-- Total number of family members employed: string (nullable = true)
 |-- Type of Building/House: string (nullable = true)
 |-- Type of Roof: string (nullable = true)
 |-- Type of Walls: string (nullable = true)
 |-- House Floor Area: string (nullable = true)
 |-- House Age: string (nullable = true)
 |-- Number of bedrooms: string (nullable = true)
 |-- Tenure Status: string (nullable = true)
 |-- Toilet Facilities: string (nullable = true)
 |-- Electricity: string (nullable = true)
 |-- Main Source of Water Supply: string (nullable = true)
 |-- Number of Television: string (nullable = true)
 |-- Number of CD/VCD/DVD: string (nullable = true)
 |-- Number of Component/Stereo set: string (nullable = true)
 |-- Number of Refrigerator/Freezer: string (nullable = true)
 |-- Number of Washing Machine: string (nullable = true)
 |-- Number of Airconditioner: string (nullable = true)
 |-- Number of Car, Jeep, Van: string (nullable = true)
 |-- Number of Landline/wireless telephones: string (nullable = true)
 |-- Number of Cellular phone: string (nullable = true)
 |-- Number of Personal Computer: string (nullable = true)
 |-- Number of Stove with Oven/Gas Range: string (nullable = true)
 |-- Number of Motorized Banca: string (nullable = true)
 |-- Number of Motorcycle/Tricycle: string (nullable = true)