### Infosys 722 - Iteration 4 BDAS (Steps 1-8)
### Submitted by: Sym Concepcion
### UPI: scon497, studentID: 829972794

In [1]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('722Basics').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ubuntu/spark-3.2.1-bin-hadoop2.7/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/10/08 03:06:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Let's read in the data. There are 2 sources so we can integrate later. 
# Note that it's in the format of csv
df1 = spark.read.option("header", True).csv('dataset/data_ncr.csv')
df2 = spark.read.option("header", True).csv('dataset/data_therest.csv')

In [4]:
# df.show()
print("Files read into structure of",type(df1))
print("First dataset (NCR):", df1.count(), "x", len(df1.columns))
print("Second dataset (Rest of the regions):", df2.count(), "x", len(df2.columns))

Files read into structure of <class 'pyspark.sql.dataframe.DataFrame'>
First dataset (NCR): 4130 x 60
Second dataset (Rest of the regions): 37414 x 60

In [5]:
# integrate the 2 sources
# code adapted from https://www.geeksforgeeks.org/merge-two-dataframes-in-pyspark/
import functools 
def unionAll(dfs):
    return functools.reduce(lambda df1, df2: df1.union(df2.select(df1.columns)), dfs)

statsdata = unionAll([df1, df2])

In [7]:
print("Combined dataset:", statsdata.count(), "x", len(statsdata.columns))
statsdata.printSchema()

Combined dataset: 41544 x 60
root
 |-- Total Household Income: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Total Food Expenditure: string (nullable = true)
 |-- Main Source of Income: string (nullable = true)
 |-- Agricultural Household indicator: string (nullable = true)
 |-- Bread and Cereals Expenditure: string (nullable = true)
 |-- Total Rice Expenditure: string (nullable = true)
 |-- Meat Expenditure: string (nullable = true)
 |-- Total Fish and  marine products Expenditure: string (nullable = true)
 |-- Fruit Expenditure: string (nullable = true)
 |-- Vegetables Expenditure: string (nullable = true)
 |-- Restaurant and hotels Expenditure: string (nullable = true)
 |-- Alcoholic Beverages Expenditure: string (nullable = true)
 |-- Tobacco Expenditure: string (nullable = true)
 |-- Clothing, Footwear and Other Wear Expenditure: string (nullable = true)
 |-- Housing and water Expenditure: string (nullable = true)
 |-- Imputed House Rental Value: string (nullable = true)
 |-- Medical Care Expenditure: string (nullable = true)
 |-- Transportation Expenditure: string (nullable = true)
 |-- Communication Expenditure: string (nullable = true)
 |-- Education Expenditure: string (nullable = true)
 |-- Miscellaneous Goods and Services Expenditure: string (nullable = true)
 |-- Special Occasions Expenditure: string (nullable = true)
 |-- Crop Farming and Gardening expenses: string (nullable = true)
 |-- Total Income from Entrepreneurial Acitivites: string (nullable = true)
 |-- Household Head Sex: string (nullable = true)
 |-- Household Head Age: string (nullable = true)
 |-- Household Head Marital Status: string (nullable = true)
 |-- Household Head Highest Grade Completed: string (nullable = true)
 |-- Household Head Job or Business Indicator: string (nullable = true)
 |-- Household Head Occupation: string (nullable = true)
 |-- Household Head Class of Worker: string (nullable = true)
 |-- Type of Household: string (nullable = true)
 |-- Total Number of Family members: string (nullable = true)
 |-- Members with age less than 5 year old: string (nullable = true)
 |-- Members with age 5 - 17 years old: string (nullable = true)
 |-- Total number of family members employed: string (nullable = true)
 |-- Type of Building/House: string (nullable = true)
 |-- Type of Roof: string (nullable = true)
 |-- Type of Walls: string (nullable = true)
 |-- House Floor Area: string (nullable = true)
 |-- House Age: string (nullable = true)
 |-- Number of bedrooms: string (nullable = true)
 |-- Tenure Status: string (nullable = true)
 |-- Toilet Facilities: string (nullable = true)
 |-- Electricity: string (nullable = true)
 |-- Main Source of Water Supply: string (nullable = true)
 |-- Number of Television: string (nullable = true)
 |-- Number of CD/VCD/DVD: string (nullable = true)
 |-- Number of Component/Stereo set: string (nullable = true)
 |-- Number of Refrigerator/Freezer: string (nullable = true)
 |-- Number of Washing Machine: string (nullable = true)
 |-- Number of Airconditioner: string (nullable = true)
 |-- Number of Car, Jeep, Van: string (nullable = true)
 |-- Number of Landline/wireless telephones: string (nullable = true)
 |-- Number of Cellular phone: string (nullable = true)
 |-- Number of Personal Computer: string (nullable = true)
 |-- Number of Stove with Oven/Gas Range: string (nullable = true)
 |-- Number of Motorized Banca: string (nullable = true)
 |-- Number of Motorcycle/Tricycle: string (nullable = true)

In [9]:
statsdata.head()

Row(Total Household Income='623738', Region='NCR', Total Food Expenditure='133762', Main Source of Income='Wage/Salaries', Agricultural Household indicator='0', Bread and Cereals Expenditure='21969', Total Rice Expenditure='13000', Meat Expenditure='15192', Total Fish and  marine products Expenditure='10438', Fruit Expenditure='3690', Vegetables Expenditure='5208', Restaurant and hotels Expenditure='52640', Alcoholic Beverages Expenditure='0', Tobacco Expenditure='0', Clothing, Footwear and Other Wear Expenditure='13548', Housing and water Expenditure='124170', Imputed House Rental Value='84000', Medical Care Expenditure='5784', Transportation Expenditure='19440', Communication Expenditure='19188', Education Expenditure='0', Miscellaneous Goods and Services Expenditure='41436', Special Occasions Expenditure='8200', Crop Farming and Gardening expenses='0', Total Income from Entrepreneurial Acitivites='0', Household Head Sex='Male', Household Head Age='62', Household Head Marital Status='Widowed', Household Head Highest Grade Completed='Arts Programs', Household Head Job or Business Indicator='With Job/Business', Household Head Occupation='Composers, musicians and singers', Household Head Class of Worker='Worked for private establishment', Type of Household='Single Family', Total Number of Family members='3', Members with age less than 5 year old='0', Members with age 5 - 17 years old='0', Total number of family members employed='3', Type of Building/House='Single house', Type of Roof='Strong material(galvanized,iron,al,tile,concrete,brick,stone,asbestos)', Type of Walls='Strong', House Floor Area='25', House Age='25', Number of bedrooms='2', Tenure Status='Own or owner-like possession of house and lot', Toilet Facilities='Water-sealed, sewer septic tank, used exclusively by household', Electricity='1', Main Source of Water Supply='Others', Number of Television='2', Number of CD/VCD/DVD='0', Number of Component/Stereo set='1', Number of Refrigerator/Freezer='1', Number of Washing Machine='1', Number of Airconditioner='1', Number of Car, Jeep, Van='0', Number of Landline/wireless telephones='1', Number of Cellular phone='3', Number of Personal Computer='1', Number of Stove with Oven/Gas Range='1', Number of Motorized Banca='0', Number of Motorcycle/Tricycle='0')

In [29]:
statsdata.show(1, vertical=True)

-RECORD 0-------------------------------------------------------------
 Total Household Income                        | 623738
 Region                                        | NCR
 Total Food Expenditure                        | 133762
 Main Source of Income                         | Wage/Salaries
 Agricultural Household indicator              | 0
 Bread and Cereals Expenditure                 | 21969
 Total Rice Expenditure                        | 13000
 Meat Expenditure                              | 15192
 Total Fish and  marine products Expenditure   | 10438
 Fruit Expenditure                             | 3690
 Vegetables Expenditure                        | 5208
 Restaurant and hotels Expenditure             | 52640
 Alcoholic Beverages Expenditure               | 0
 Tobacco Expenditure                           | 0
 Clothing, Footwear and Other Wear Expenditure | 13548
 Housing and water Expenditure                 | 124170
 Imputed House Rental Value                    | 84000
 Medical Care Expenditure                      | 5784
 Transportation Expenditure                    | 19440
 Communication Expenditure                     | 19188
 Education Expenditure                         | 0
 Miscellaneous Goods and Services Expenditure  | 41436
 Special Occasions Expenditure                 | 8200
 Crop Farming and Gardening expenses           | 0
 Total Income from Entrepreneurial Acitivites  | 0
 Household Head Sex                            | Male
 Household Head Age                            | 62
 Household Head Marital Status                 | Widowed
 Household Head Highest Grade Completed        | Arts Programs
 Household Head Job or Business Indicator      | With Job/Business
 Household Head Occupation                     | Composers, musici...
 Household Head Class of Worker                | Worked for privat...
 Type of Household                             | Single Family
 Total Number of Family members                | 3
 Members with age less than 5 year old         | 0
 Members with age 5 - 17 years old             | 0
 Total number of family members employed       | 3
 Type of Building/House                        | Single house
 Type of Roof                                  | Strong material(g...
 Type of Walls                                 | Strong
 House Floor Area                              | 25
 House Age                                     | 25
 Number of bedrooms                            | 2
 Tenure Status                                 | Own or owner-like...
 Toilet Facilities                             | Water-sealed, sew...
 Electricity                                   | 1
 Main Source of Water Supply                   | Others
 Number of Television                          | 2
 Number of CD/VCD/DVD                          | 0
 Number of Component/Stereo set                | 1
 Number of Refrigerator/Freezer                | 1
 Number of Washing Machine                     | 1
 Number of Airconditioner                      | 1
 Number of Car, Jeep, Van                      | 0
 Number of Landline/wireless telephones        | 1
 Number of Cellular phone                      | 3
 Number of Personal Computer                   | 1
 Number of Stove with Oven/Gas Range           | 1
 Number of Motorized Banca                     | 0
 Number of Motorcycle/Tricycle                 | 0
only showing top 1 row

In [11]:
statsdata.describe('Total Household Income').show()

+-------+----------------------+
|summary|Total Household Income|
+-------+----------------------+
|  count|                 41544|
|   mean|    247555.58480165608|
| stddev|     286880.5226527398|
|    min|                100000|
|    max|                 99997|
+-------+----------------------+

In [12]:
statsdata.describe('Medical Care Expenditure').show()

+-------+------------------------+
|summary|Medical Care Expenditure|
+-------+------------------------+
|  count|                   41544|
|   mean|       7160.230935875216|
| stddev|      26902.002274617334|
|    min|                       0|
|    max|                    9998|
+-------+------------------------+

In [13]:
statsdata.describe('Medical Care Expenditure', 'Total Household Income').show()

+-------+------------------------+----------------------+
|summary|Medical Care Expenditure|Total Household Income|
+-------+------------------------+----------------------+
|  count|                   41544|                 41544|
|   mean|       7160.230935875216|    247555.58480165608|
| stddev|      26902.002274617334|     286880.5226527398|
|    min|                       0|                100000|
|    max|                    9998|                 99997|
+-------+------------------------+----------------------+

In [26]:
pyspark.sql.dataframe.DataFrame.set_option('float_format', '{:,.2f}'.format)

AttributeError: type object 'DataFrame' has no attribute 'set_option'

In [15]:
statsdata.describe('Medical Care Expenditure', 'Total Household Income').show().set_option('float_format', '{:,.2f}'.format)

+-------+------------------------+----------------------+
|summary|Medical Care Expenditure|Total Household Income|
+-------+------------------------+----------------------+
|  count|                   41544|                 41544|
|   mean|       7160.230935875216|    247555.58480165608|
| stddev|      26902.002274617334|     286880.5226527398|
|    min|                       0|                100000|
|    max|                    9998|                 99997|
+-------+------------------------+----------------------+

AttributeError: 'NoneType' object has no attribute 'set_option'

In [16]:
statsdata.show(2,2)

+----------------------+------+----------------------+---------------------+--------------------------------+-----------------------------+----------------------+----------------+-------------------------------------------+-----------------+----------------------+---------------------------------+-------------------------------+-------------------+---------------------------------------------+-----------------------------+--------------------------+------------------------+--------------------------+-------------------------+---------------------+--------------------------------------------+-----------------------------+-----------------------------------+--------------------------------------------+------------------+------------------+-----------------------------+--------------------------------------+----------------------------------------+-------------------------+------------------------------+-----------------+------------------------------+-------------------------------------+---------------------------------+---------------------------------------+----------------------+------------+-------------+----------------+---------+------------------+-------------+-----------------+-----------+---------------------------+--------------------+--------------------+------------------------------+------------------------------+-------------------------+------------------------+------------------------+--------------------------------------+------------------------+---------------------------+-----------------------------------+-------------------------+-----------------------------+
|Total Household Income|Region|Total Food Expenditure|Main Source of Income|Agricultural Household indicator|Bread and Cereals Expenditure|Total Rice Expenditure|Meat Expenditure|Total Fish and  marine products Expenditure|Fruit Expenditure|Vegetables Expenditure|Restaurant and hotels Expenditure|Alcoholic Beverages Expenditure|Tobacco Expenditure|Clothing, Footwear and Other Wear Expenditure|Housing and water Expenditure|Imputed House Rental Value|Medical Care Expenditure|Transportation Expenditure|Communication Expenditure|Education Expenditure|Miscellaneous Goods and Services Expenditure|Special Occasions Expenditure|Crop Farming and Gardening expenses|Total Income from Entrepreneurial Acitivites|Household Head Sex|Household Head Age|Household Head Marital Status|Household Head Highest Grade Completed|Household Head Job or Business Indicator|Household Head Occupation|Household Head Class of Worker|Type of Household|Total Number of Family members|Members with age less than 5 year old|Members with age 5 - 17 years old|Total number of family members employed|Type of Building/House|Type of Roof|Type of Walls|House Floor Area|House Age|Number of bedrooms|Tenure Status|Toilet Facilities|Electricity|Main Source of Water Supply|Number of Television|Number of CD/VCD/DVD|Number of Component/Stereo set|Number of Refrigerator/Freezer|Number of Washing Machine|Number of Airconditioner|Number of Car, Jeep, Van|Number of Landline/wireless telephones|Number of Cellular phone|Number of Personal Computer|Number of Stove with Oven/Gas Range|Number of Motorized Banca|Number of Motorcycle/Tricycle|
+----------------------+------+----------------------+---------------------+--------------------------------+-----------------------------+----------------------+----------------+-------------------------------------------+-----------------+----------------------+---------------------------------+-------------------------------+-------------------+---------------------------------------------+-----------------------------+--------------------------+------------------------+--------------------------+-------------------------+---------------------+--------------------------------------------+-----------------------------+-----------------------------------+--------------------------------------------+------------------+------------------+-----------------------------+--------------------------------------+----------------------------------------+-------------------------+------------------------------+-----------------+------------------------------+-------------------------------------+---------------------------------+---------------------------------------+----------------------+------------+-------------+----------------+---------+------------------+-------------+-----------------+-----------+---------------------------+--------------------+--------------------+------------------------------+------------------------------+-------------------------+------------------------+------------------------+--------------------------------------+------------------------+---------------------------+-----------------------------------+-------------------------+-----------------------------+
|                    62|    NC|                    13|                   Wa|                               0|                           21|                    13|              15|                                         10|               36|                    52|                               52|                              0|                  0|                                           13|                           12|                        84|                      57|                        19|                       19|                    0|                                          41|                           82|                                  0|                                           0|                Ma|                62|                           Wi|                                    Ar|                                      Wi|                       Co|                            Wo|               Si|                             3|                                    0|                                0|                                      3|                    Si|          St|           St|              25|       25|                 2|           Ow|               Wa|          1|                         Ot|                   2|                   0|                             1|                             1|                        1|                       1|                       0|                                     1|                       3|                          1|                                  1|                        0|                            0|
|                    30|    NC|                    10|                   Wa|                               0|                           22|                    17|              14|                                         42|               34|                    51|                               44|                             36|                  0|                                           32|                           10|                        72|                      48|                        17|                       36|                   19|                                          24|                           32|                                  0|                                           0|                Fe|                73|                           Wi|                                    El|                                      No|                       nu|                            nu|               Ex|                             4|                                    0|                                0|                                      1|                    Si|          St|           St|              25|       15|                 2|           Ow|               Wa|          1|                         Ow|                   1|                   1|                             0|                             1|                        1|                       0|                       0|                                     0|                       2|                          1|                                  0|                        0|                            0|
+----------------------+------+----------------------+---------------------+--------------------------------+-----------------------------+----------------------+----------------+-------------------------------------------+-----------------+----------------------+---------------------------------+-------------------------------+-------------------+---------------------------------------------+-----------------------------+--------------------------+------------------------+--------------------------+-------------------------+---------------------+--------------------------------------------+-----------------------------+-----------------------------------+--------------------------------------------+------------------+------------------+-----------------------------+--------------------------------------+----------------------------------------+-------------------------+------------------------------+-----------------+------------------------------+-------------------------------------+---------------------------------+---------------------------------------+----------------------+------------+-------------+----------------+---------+------------------+-------------+-----------------+-----------+---------------------------+--------------------+--------------------+------------------------------+------------------------------+-------------------------+------------------------+------------------------+--------------------------------------+------------------------+---------------------------+-----------------------------------+-------------------------+-----------------------------+
only showing top 2 rows

In [22]:
statsdata.limit(5).toPandas()

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,623738,NCR,133762,Wage/Salaries,0,21969,13000,15192,10438,3690,...,1,1,1,0,1,3,1,1,0,0
1,301900,NCR,109815,Wage/Salaries,0,22158,17550,14679,4260,3420,...,1,1,0,0,0,2,1,0,0,0
2,169200,NCR,47653,Other sources of Income,0,13260,8450,3370,1080,120,...,0,1,0,0,0,2,1,0,0,0
3,428200,NCR,179808,Wage/Salaries,0,20996,12350,24016,7920,3550,...,1,1,1,0,0,2,1,0,0,0
4,283100,NCR,123872,Other sources of Income,0,17060,13350,18478,13320,3830,...,1,1,0,0,0,2,1,0,0,0

In [24]:
print(type(statsdata.tail(5)))

<class 'list'>

In [25]:
pd.set_option('float_format', '{:,.2f}'.format)

NameError: name 'pd' is not defined

In [32]:
statsdata.dtypes

[('Total Household Income', 'string'),
 ('Region', 'string'),
 ('Total Food Expenditure', 'string'),
 ('Main Source of Income', 'string'),
 ('Agricultural Household indicator', 'string'),
 ('Bread and Cereals Expenditure', 'string'),
 ('Total Rice Expenditure', 'string'),
 ('Meat Expenditure', 'string'),
 ('Total Fish and  marine products Expenditure', 'string'),
 ('Fruit Expenditure', 'string'),
 ('Vegetables Expenditure', 'string'),
 ('Restaurant and hotels Expenditure', 'string'),
 ('Alcoholic Beverages Expenditure', 'string'),
 ('Tobacco Expenditure', 'string'),
 ('Clothing, Footwear and Other Wear Expenditure', 'string'),
 ('Housing and water Expenditure', 'string'),
 ('Imputed House Rental Value', 'string'),
 ('Medical Care Expenditure', 'string'),
 ('Transportation Expenditure', 'string'),
 ('Communication Expenditure', 'string'),
 ('Education Expenditure', 'string'),
 ('Miscellaneous Goods and Services Expenditure', 'string'),
 ('Special Occasions Expenditure', 'string'),
 ('Crop Farming and Gardening expenses', 'string'),
 ('Total Income from Entrepreneurial Acitivites', 'string'),
 ('Household Head Sex', 'string'),
 ('Household Head Age', 'string'),
 ('Household Head Marital Status', 'string'),
 ('Household Head Highest Grade Completed', 'string'),
 ('Household Head Job or Business Indicator', 'string'),
 ('Household Head Occupation', 'string'),
 ('Household Head Class of Worker', 'string'),
 ('Type of Household', 'string'),
 ('Total Number of Family members', 'string'),
 ('Members with age less than 5 year old', 'string'),
 ('Members with age 5 - 17 years old', 'string'),
 ('Total number of family members employed', 'string'),
 ('Type of Building/House', 'string'),
 ('Type of Roof', 'string'),
 ('Type of Walls', 'string'),
 ('House Floor Area', 'string'),
 ('House Age', 'string'),
 ('Number of bedrooms', 'string'),
 ('Tenure Status', 'string'),
 ('Toilet Facilities', 'string'),
 ('Electricity', 'string'),
 ('Main Source of Water Supply', 'string'),
 ('Number of Television', 'string'),
 ('Number of CD/VCD/DVD', 'string'),
 ('Number of Component/Stereo set', 'string'),
 ('Number of Refrigerator/Freezer', 'string'),
 ('Number of Washing Machine', 'string'),
 ('Number of Airconditioner', 'string'),
 ('Number of Car, Jeep, Van', 'string'),
 ('Number of Landline/wireless telephones', 'string'),
 ('Number of Cellular phone', 'string'),
 ('Number of Personal Computer', 'string'),
 ('Number of Stove with Oven/Gas Range', 'string'),
 ('Number of Motorized Banca', 'string'),
 ('Number of Motorcycle/Tricycle', 'string')]

In [38]:
#Filter rows that has numeric value on column
import org.apache.spark.sql.functions.{col}
statsdata.filter(col("alphanumeric").cast("int").isNotNull).show()

SyntaxError: invalid syntax (258163060.py, line 2)

In [39]:
statsdata.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41544 entries, 0 to 41543
Data columns (total 60 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Total Household Income                         41544 non-null  object
 1   Region                                         41544 non-null  object
 2   Total Food Expenditure                         41544 non-null  object
 3   Main Source of Income                          41544 non-null  object
 4   Agricultural Household indicator               41544 non-null  object
 5   Bread and Cereals Expenditure                  41544 non-null  object
 6   Total Rice Expenditure                         41544 non-null  object
 7   Meat Expenditure                               41544 non-null  object
 8   Total Fish and  marine products Expenditure    41544 non-null  object
 9   Fruit Expenditure                              41544 non-null  object
 10  Vegetables Expenditure                         41544 non-null  object
 11  Restaurant and hotels Expenditure              41544 non-null  object
 12  Alcoholic Beverages Expenditure                41544 non-null  object
 13  Tobacco Expenditure                            41544 non-null  object
 14  Clothing, Footwear and Other Wear Expenditure  41544 non-null  object
 15  Housing and water Expenditure                  41544 non-null  object
 16  Imputed House Rental Value                     41544 non-null  object
 17  Medical Care Expenditure                       41544 non-null  object
 18  Transportation Expenditure                     41544 non-null  object
 19  Communication Expenditure                      41544 non-null  object
 20  Education Expenditure                          41544 non-null  object
 21  Miscellaneous Goods and Services Expenditure   41544 non-null  object
 22  Special Occasions Expenditure                  41544 non-null  object
 23  Crop Farming and Gardening expenses            41544 non-null  object
 24  Total Income from Entrepreneurial Acitivites   41544 non-null  object
 25  Household Head Sex                             41544 non-null  object
 26  Household Head Age                             41544 non-null  object
 27  Household Head Marital Status                  41544 non-null  object
 28  Household Head Highest Grade Completed         41544 non-null  object
 29  Household Head Job or Business Indicator       41544 non-null  object
 30  Household Head Occupation                      34008 non-null  object
 31  Household Head Class of Worker                 34008 non-null  object
 32  Type of Household                              41544 non-null  object
 33  Total Number of Family members                 41544 non-null  object
 34  Members with age less than 5 year old          41544 non-null  object
 35  Members with age 5 - 17 years old              41544 non-null  object
 36  Total number of family members employed        41544 non-null  object
 37  Type of Building/House                         41544 non-null  object
 38  Type of Roof                                   41544 non-null  object
 39  Type of Walls                                  41544 non-null  object
 40  House Floor Area                               41544 non-null  object
 41  House Age                                      41544 non-null  object
 42  Number of bedrooms                             41544 non-null  object
 43  Tenure Status                                  41544 non-null  object
 44  Toilet Facilities                              41544 non-null  object
 45  Electricity                                    41544 non-null  object
 46  Main Source of Water Supply                    41544 non-null  object
 47  Number of Television                           41544 non-null  object
 48  Number of CD/VCD/DVD                           41544 non-null  object
 49  Number of Component/Stereo set                 41544 non-null  object
 50  Number of Refrigerator/Freezer                 41544 non-null  object
 51  Number of Washing Machine                      41544 non-null  object
 52  Number of Airconditioner                       41544 non-null  object
 53  Number of Car, Jeep, Van                       41544 non-null  object
 54  Number of Landline/wireless telephones         41544 non-null  object
 55  Number of Cellular phone                       41544 non-null  object
 56  Number of Personal Computer                    41544 non-null  object
 57  Number of Stove with Oven/Gas Range            41544 non-null  object
 58  Number of Motorized Banca                      41544 non-null  object
 59  Number of Motorcycle/Tricycle                  41544 non-null  object
dtypes: object(60)
memory usage: 19.0+ MB

In [40]:
statsdata.summary

<bound method DataFrame.summary of DataFrame[Total Household Income: string, Region: string, Total Food Expenditure: string, Main Source of Income: string, Agricultural Household indicator: string, Bread and Cereals Expenditure: string, Total Rice Expenditure: string, Meat Expenditure: string, Total Fish and  marine products Expenditure: string, Fruit Expenditure: string, Vegetables Expenditure: string, Restaurant and hotels Expenditure: string, Alcoholic Beverages Expenditure: string, Tobacco Expenditure: string, Clothing, Footwear and Other Wear Expenditure: string, Housing and water Expenditure: string, Imputed House Rental Value: string, Medical Care Expenditure: string, Transportation Expenditure: string, Communication Expenditure: string, Education Expenditure: string, Miscellaneous Goods and Services Expenditure: string, Special Occasions Expenditure: string, Crop Farming and Gardening expenses: string, Total Income from Entrepreneurial Acitivites: string, Household Head Sex: string, Household Head Age: string, Household Head Marital Status: string, Household Head Highest Grade Completed: string, Household Head Job or Business Indicator: string, Household Head Occupation: string, Household Head Class of Worker: string, Type of Household: string, Total Number of Family members: string, Members with age less than 5 year old: string, Members with age 5 - 17 years old: string, Total number of family members employed: string, Type of Building/House: string, Type of Roof: string, Type of Walls: string, House Floor Area: string, House Age: string, Number of bedrooms: string, Tenure Status: string, Toilet Facilities: string, Electricity: string, Main Source of Water Supply: string, Number of Television: string, Number of CD/VCD/DVD: string, Number of Component/Stereo set: string, Number of Refrigerator/Freezer: string, Number of Washing Machine: string, Number of Airconditioner: string, Number of Car, Jeep, Van: string, Number of Landline/wireless telephones: string, Number of Cellular phone: string, Number of Personal Computer: string, Number of Stove with Oven/Gas Range: string, Number of Motorized Banca: string, Number of Motorcycle/Tricycle: string]>

In [41]:
statsdata.summary().show()

+-------+----------------------+------------------+----------------------+---------------------+--------------------------------+-----------------------------+----------------------+------------------+-------------------------------------------+------------------+----------------------+---------------------------------+-------------------------------+-------------------+---------------------------------------------+-----------------------------+--------------------------+------------------------+--------------------------+-------------------------+---------------------+--------------------------------------------+-----------------------------+-----------------------------------+--------------------------------------------+------------------+------------------+-----------------------------+--------------------------------------+----------------------------------------+-------------------------+------------------------------+--------------------+------------------------------+-------------------------------------+---------------------------------+---------------------------------------+----------------------+--------------------+-------------+------------------+------------------+------------------+--------------------+--------------------+------------------+---------------------------+--------------------+--------------------+------------------------------+------------------------------+-------------------------+------------------------+------------------------+--------------------------------------+------------------------+---------------------------+-----------------------------------+-------------------------+-----------------------------+
|summary|Total Household Income|            Region|Total Food Expenditure|Main Source of Income|Agricultural Household indicator|Bread and Cereals Expenditure|Total Rice Expenditure|  Meat Expenditure|Total Fish and  marine products Expenditure| Fruit Expenditure|Vegetables Expenditure|Restaurant and hotels Expenditure|Alcoholic Beverages Expenditure|Tobacco Expenditure|Clothing, Footwear and Other Wear Expenditure|Housing and water Expenditure|Imputed House Rental Value|Medical Care Expenditure|Transportation Expenditure|Communication Expenditure|Education Expenditure|Miscellaneous Goods and Services Expenditure|Special Occasions Expenditure|Crop Farming and Gardening expenses|Total Income from Entrepreneurial Acitivites|Household Head Sex|Household Head Age|Household Head Marital Status|Household Head Highest Grade Completed|Household Head Job or Business Indicator|Household Head Occupation|Household Head Class of Worker|   Type of Household|Total Number of Family members|Members with age less than 5 year old|Members with age 5 - 17 years old|Total number of family members employed|Type of Building/House|        Type of Roof|Type of Walls|  House Floor Area|         House Age|Number of bedrooms|       Tenure Status|   Toilet Facilities|       Electricity|Main Source of Water Supply|Number of Television|Number of CD/VCD/DVD|Number of Component/Stereo set|Number of Refrigerator/Freezer|Number of Washing Machine|Number of Airconditioner|Number of Car, Jeep, Van|Number of Landline/wireless telephones|Number of Cellular phone|Number of Personal Computer|Number of Stove with Oven/Gas Range|Number of Motorized Banca|Number of Motorcycle/Tricycle|
+-------+----------------------+------------------+----------------------+---------------------+--------------------------------+-----------------------------+----------------------+------------------+-------------------------------------------+------------------+----------------------+---------------------------------+-------------------------------+-------------------+---------------------------------------------+-----------------------------+--------------------------+------------------------+--------------------------+-------------------------+---------------------+--------------------------------------------+-----------------------------+-----------------------------------+--------------------------------------------+------------------+------------------+-----------------------------+--------------------------------------+----------------------------------------+-------------------------+------------------------------+--------------------+------------------------------+-------------------------------------+---------------------------------+---------------------------------------+----------------------+--------------------+-------------+------------------+------------------+------------------+--------------------+--------------------+------------------+---------------------------+--------------------+--------------------+------------------------------+------------------------------+-------------------------+------------------------+------------------------+--------------------------------------+------------------------+---------------------------+-----------------------------------+-------------------------+-----------------------------+
|  count|                 41544|             41544|                 41544|                41544|                           41544|                        41544|                 41544|             41544|                                      41544|             41544|                 41544|                            41544|                          41544|              41544|                                        41544|                        41544|                     41544|                   41544|                     41544|                    41544|                41544|                                       41544|                        41544|                              41544|                                       41544|             41544|             41544|                        41544|                                 41544|                                   41544|                    34008|                         34008|               41544|                         41544|                                41544|                            41544|                                  41544|                 41544|               41544|        41544|             41544|             41544|             41544|               41544|               41544|             41544|                      41544|               41544|               41544|                         41544|                         41544|                    41544|                   41544|                   41544|                                 41544|                   41544|                      41544|                              41544|                    41544|                        41544|
|   mean|    247555.58480165608|              null|     85099.15819372232|                 null|              0.4298575004814173|           25133.723642403234|    18195.825004814174|10540.072573656846|                         10529.318337184672|2550.4749903716543|     5006.918568264972|               15436.566074523396|               1085.06812054689|  2294.736183323705|                            4954.621076449066|            38375.46779318313|        20921.544627383017|       7160.230935875216|         11806.34445407279|       4095.4920566146734|    7473.500481417293|                          12522.071634893126|            5265.726001347968|                 13816.859715000963|                          54376.239264394375|              null|51.381450991719625|                         null|                                  null|                                    null|                     null|                          null|                null|             4.635181975736568|                   0.4102156749470441|                1.362579433853264|                     1.2726988253418063|                  null|                null|         null|55.603360292701716|20.125505488157135|1.7880078952435972|                null|                null|0.8908145580589255|                       null|  0.8568746389370306| 0.43522530329289427|            0.1621413441170807|            0.3941844791064895|       0.3198055074138263|     0.12981417292509148|     0.08121509724629308|                  0.060610437126901597|       1.905738494126709|         0.3150154053533603|                0.13503755054881572|     0.013118621220874253|          0.28988542268438283|
| stddev|     286880.5226527398|              null|     51637.94768239425|                 null|              0.6766664573905795|           13466.482983898033|     11727.22434974807|10497.727756963273|                          7812.201613353636|2969.7528787908345|    3300.1752359323573|                23705.19592934714|             2174.4319127104686| 3998.9771314595355|                            7496.500945481631|            53111.67817368486|        39371.518254865645|      26902.002274617334|        19351.213715330116|        7298.822613969044|    21219.17090729897|                          17547.027921165394|           13279.593680536731|                 47643.781776507494|                          147142.78904003717|              null|14.166081158245369|                         null|                                  null|                                    null|                     null|                          null|                null|            2.2802517165264873|                   0.6943900995613601|               1.4079996925750449|                     1.1491517182731796|                  null|                null|         null| 55.02316479936468|14.295452252095654|1.1056636057521325|                null|                null|0.3118754919734611|                       null|  0.6463058140944541|  0.5601247813006391|            0.3891078920314106|            0.5370251377798984|       0.4784820222111542|       0.448672901177239|      0.3467858983993903|                    0.2767317851836862|        1.55813046617518|         0.7396981767131176|                 0.3540828380105861|       0.1271707833655038|           0.5584078404188935|
|    min|                100000|                  |                 10000| Enterpreneurial A...|                               0|                            0|                     0|                 0|                                          0|                 0|                     0|                                0|                              0|                  0|                                            0|                        10002|                         0|                       0|                         0|                        0|                    0|                                           0|                            0|                                  0|                                           0|            Female|                10|                     Annulled|                  Agriculture, Fore...|                         No Job/Business|     Accountants and a...|          Employer in own f...|     Extended Family|                             1|                                    0|                                0|                                      0|  Commercial/indust...|Light material (c...|        Light|                10|                 0|                 0|      Not Applicable|          Closed pit|                 0|                   Dug well|                   0|                   0|                             0|                             0|                        0|                       0|                       0|                                     0|                       0|                          0|                                  0|                        0|                            0|
|    25%|              104888.0|              null|               51014.0|                 null|                             0.0|                      16554.0|               11020.0|            3353.0|                                     5503.0|            1023.0|                2872.0|                           1930.0|                            0.0|                0.0|                                       1365.0|                      13080.0|                    6000.0|                   300.0|                    2412.0|                    564.0|                  0.0|                                      3792.0|                          0.0|                                0.0|                                         0.0|              null|              41.0|                         null|                                  null|                                    null|                     null|                          null|                null|                           3.0|                                  0.0|                              0.0|                                    0.0|                  null|                null|         null|              25.0|              10.0|               1.0|                null|                null|               1.0|                       null|                 0.0|                 0.0|                           0.0|                           0.0|                      0.0|                     0.0|                     0.0|                                   0.0|                     1.0|                        0.0|                                0.0|                      0.0|                          0.0|
|    50%|              164070.0|              null|               72977.0|                 null|                             0.0|                      23320.0|               16620.0|            7332.0|                                     8694.0|            1820.0|                4314.0|                           7310.0|                          270.0|              300.0|                                       2740.0|                      22986.0|                   10800.0|                  1125.0|                    6036.0|                   1506.0|                880.0|                                      6804.0|                       1500.0|                                0.0|                                     19200.0|              null|              51.0|                         null|                                  null|                                    null|                     null|                          null|                null|                           4.0|                                  0.0|                              1.0|                                    1.0|                  null|                null|         null|              40.0|              17.0|               2.0|                null|                null|               1.0|                       null|                 1.0|                 0.0|                           0.0|                           0.0|                      0.0|                     0.0|                     0.0|                                   0.0|                     2.0|                        0.0|                                0.0|                      0.0|                          0.0|
|    75%|              291081.0|              null|              105619.0|                 null|                             1.0|                      31436.0|               23920.0|           14290.0|                                    13384.0|            3098.0|                6303.0|                          19913.0|                         1298.0|             3136.0|                                       5580.0|                      45942.0|                   24000.0|                  4680.0|                   13776.0|                   3900.0|               4050.0|                                     14148.0|                       5000.0|                             6300.0|                                     65938.0|              null|              61.0|                         null|                                  null|                                    null|                     null|                          null|                null|                           6.0|                                  1.0|                              2.0|                                    2.0|                  null|                null|         null|              70.0|              26.0|               2.0|                null|                null|               1.0|                       null|                 1.0|                 1.0|                           0.0|                           1.0|                      1.0|                     0.0|                     0.0|                                   0.0|                     3.0|                        0.0|                                0.0|                      0.0|                          0.0|
|    max|                 99997|XII - SOCCSKSARGEN|                 99994|        Wage/Salaries|                               2|                         9994|                  9999|              9999|                                       9999|              9998|                  9997|                            99970|                           9998|               9995|                                         9999|                        99996|                     99600|                    9998|                      9996|                     9996|                 9990|                                        9996|                         9995|                               9993|                                       99982|              Male|                99|                      Widowed|                   Veterinary Programs|                       With Job/Business|     Workers reporting...|          Worked without pa...|Two or More Nonre...|                             9|                                    5|                                8|                                      8|          Single house|Strong material(g...|   Very Light|               998|                99|                 9|Rent-free house a...|Water-sealed, sew...|                 1|       Unprotected sprin...|                   6|                   5|                             5|                             5|                        3|                       5|                       5|                                     4|                       9|                          6|                                  3|                        3|                            5|